@media print {
	.featured{
		width: auto !important;
		&.carousel{
			width: auto !important;
			.item{
				display: block !important;
				float: none !important;
				width: auto !important;
				img{
					display: block !important;
					width: 100% !important;
					height: auto !important;
					overflow: hidden !important;
					&.hidden-print{
						display: none!important;
					}
				}
				.hero-text{
					display: block !important;
					width: 50% !important;
					position: relative !important;
					background-color: #FFF !important;
					background-image: none!important;
				}
			}
			.stock-ticker {
				border: 1px solid $gray-light;
				.symbol {
					border-bottom: 1px solid $gray-light;
				}
			}
			.owl-controls {
				display: none!important;
			}
		}
	}
	article {
		&.item {
			border: 1px solid $gray-light;
			h2 {
				border-bottom: 1px solid $gray-light;
			}
		}
	}
	ul {
		&.nav-pills {
		  > li {
		    > a, > span {
				background-color: $white!important;
		    }
		  }
		}
	}
	.inline-nav {
		.inline-nav-item {
			&:hover, &.active {
				a {
					color: $black!important;
				}
			}
		}
	}
	a[href]:after {
		content: ""!important;
	}
	footer {
		&#footer {
			.social {
				a {
					&:before {
						color: $white!important;
					}
				}
			}
		}
	}
}
