@media print {
	a[href]:after {
		content: ""!important;
	}
	#content {
		padding-top: $padding-xsmall!important;
	}
	.phone-timeline, #mobileTimelineNav, .table-nav, .section-nav {
		display: none!important;
	}
	.nav-image, .sidebar img {
		max-width: 340px!important;
	}
	.featured{
		width: auto !important;
		padding-bottom: $padding-small!important;
		&.carousel{
			width: auto !important;
			.item{
				display: block !important;
				float: none !important;
				width: auto !important;
				img{
					max-height: 450px!important;
					display: block !important;
					width: 100% !important;
					height: auto !important;
					overflow: hidden !important;
					&.hidden-print{
						display: none!important;
					}
				}
				.hero-text{
					display: block !important;
					width: 50% !important;
					padding-left: $padding-medium!important;
					position: relative !important;
					background-color: $white !important;
					background-image: none!important;
				}
			}
			.stock-ticker {
				display: none!important;
			}
			.owl-controls {
				display: none!important;
			}
		}
	}
	.visible-print-block {
		img {
			margin-top: $padding-medium;
			margin-left: $padding-medium;
		}
	}
	article {
		&.item {
			h2 {
				padding-top: $padding-xsmall!important;
				padding-bottom: 0!important;
				border-bottom: 1px solid $gray-light;
			}
		}
	}
	.nav-pills {
	  > li {
		> a, > span {
			background-color: $white!important;
			&:first-child {
				padding-left: 0!important;
			}
		}
	  }
	}
	.inline-nav {
		.inline-nav-item {
			background-image: none!important;
			color: $black!important;
		}
	}
	footer {
		&#footer {
			@include rem(border-top, 2px solid $black!important);
			.social {
				a {
					&:before {
						color: $white!important;
					}
				}
			}
		}
	}
}
