@media print {
	.featured{
		width: auto !important;
		&.carousel{
			width: auto !important;
			.item{
				display: block !important;
				float: none !important;
				width: auto !important;
				img{
					display: block !important;
					width: 100% !important;
					height: auto !important;
					overflow: hidden !important;
					&.hidden-print{
						display: none;
					}
				}
				.hero-text{
					display: block !important;
					width: 50% !important;
					padding-left: 0 !important;
					position: relative !important;
					background-color: #FFF !important;
				}
			}
		}
	}
	.item {
		border: 1px solid $gray-light;
		h2 {
			border-bottom: 1px solid $gray-light;
		}
	}
	.nav-pills {
	  > li {
	    > a, > span {
			background-color: $white!important;
	    }
	  }
	}
	a[href]:after {
		content: ""!important;
	}
	footer {
		&#footer {
			.social {
				a {
					&:before {
						color: $white!important;
					}
				}
			}
		}
	}
}
