@media print {
	a[href]:after {
		content: ""!important;
	}
	#content {
		padding-top: $padding-xsmall!important;
	}
	.container {
		&.margin-bottom-2x {
			margin-bottom: $margin-large!important;
		}
		&.details {
			padding-top: $padding-small!important;
		}
	}
	.nav-image, .sidebar img {
		max-width: 340px!important;
		width: 100%!important;
	}
	.nav-pills {
		&> li {
			background-color: $white!important;
		}
	}
	.featured {
		width: auto !important;
		&.carousel {
			padding-bottom: $padding-small!important;
			width: auto !important;
			.item {
				display: block !important;
				float: none !important;
				width: auto !important;
				img {
					max-height: 450px!important;
					display: block !important;
					width: 100% !important;
					height: auto !important;
					overflow: hidden !important;
					&.hidden-print {
						display: none!important;
					}
				}
				.hero-text {
					display: block !important;
					width: 50% !important;
					padding-left: $padding-medium!important;
					position: relative !important;
					background-color: $white !important;
					background-image: none!important;
				}
			}
			.owl-controls {
				display: none!important;
			}
		}
	}
	.visible-print-block {
		img {
			margin-top: $padding-medium;
			margin-left: $padding-medium;
		}
	}
	.item-wrap {
		&:after {
			display: none!important;
		}
	}
	article {
		&.item {
			h2 {
				height: auto!important;
				padding-top: $padding-xsmall!important;
				padding-bottom: 0!important;
				border-bottom: 1px solid $gray-light!important;
			}
			section {
				height: auto!important;
			}
		}
	}
	footer {
		&#footer {
			padding-top: 0!important;
			border: none!important;
		}
	}
}
