//
// Load core variables and mixins
// --------------------------------------------------

@import "bootstrap/variables";
@import "bootstrap/mixins";

//== Text Selection
@include text-selection($white, $brand-primary);

//== Padding classes
.padding-top {
	@include rem(padding-top, $padding-large);
}
.padding-top-2x {
	@include rem(padding-top, ($padding-large * 2));
}
.padding-top-3x {
	@include rem(padding-top, ($padding-large * 3));
}
.padding-top-small {
	@include rem(padding-top, $padding-small);
}
.padding-top-xsmall {
	@include rem(padding-top, $padding-xsmall);
}
.padding-top-xxsmall {
	@include rem(padding-top, $padding-xxsmall);
}
.padding-left {
	@include rem(padding-left, $grid-gutter-width);
}
.padding-left-1_5x {
	@include rem(padding-left, ($grid-gutter-width * 1.5));
}
.padding-left-2x {
	@include rem(padding-left, ($grid-gutter-width * 2));
}
.padding-left-small {
	@include rem(padding-left, ($grid-gutter-width / 2));
}
.padding-right {
	@include rem(padding-right, $grid-gutter-width);
}
.padding-right-1_5x {
	@include rem(padding-right, ($grid-gutter-width * 1.5));
}
.padding-right-small {
	@include rem(padding-right, ($grid-gutter-width / 2));
}
.padding-bottom {
	@include rem(padding-bottom, $padding-large);
}
.padding-bottom-2x {
	@include rem(padding-bottom, ($padding-large * 2));
}
.padding-bottom-3x {
	@include rem(padding-bottom, ($padding-large * 3));
}
.padding-bottom-small {
	@include rem(padding-bottom, $padding-small);
}
.padding-bottom-xsmall {
	@include rem(padding-bottom, $padding-xsmall);
}
.padding-bottom-xxsmall {
	@include rem(padding-bottom, $padding-xxsmall);
}
.nopadding{
	padding: 0 0 0 0 !important;
}
.nopadding-left{
	padding-left: 0 !important;
}
.nopadding-right{
	padding-right: 0 !important;
}
.nopadding-top{
	@include rem(padding-top, 0 !important);
}
.nopadding-bottom{
	@include rem(padding-bottom, 0 !important);
}

//== Margin classes
.margin-top {
	@include rem(margin-top, $margin-large);
}
.margin-top-small {
	@include rem(margin-top, $margin-small);
}
.margin-left {
	@include rem(margin-left, $grid-gutter-width);
}
.margin-left-2x {
	@include rem(margin-left, ($grid-gutter-width * 2));
}
.margin-left-3x {
	@include rem(margin-left, ($grid-gutter-width * 3));
}
.margin-left-small {
	@include rem(margin-left, ($grid-gutter-width / 2));
}
.margin-right {
	@include rem(margin-right, $grid-gutter-width );
}
.margin-right-2x {
	@include rem(margin-right, ($grid-gutter-width * 2));
}
.margin-right-3x {
	@include rem(margin-right, ($grid-gutter-width * 3));
}
.margin-right-small {
	@include rem(margin-right, ($grid-gutter-width / 2) );
}
.margin-bottom {
	@include rem(margin-bottom, $margin-large);
}
.margin-bottom-2x {
	@include rem( margin-bottom, ( $margin-large * 2 ) );
}
.margin-bottom-small {
	@include rem(margin-bottom, $margin-small);
}
.margin-bottom-xsmall {
	@include rem(margin-bottom, $margin-xsmall);
}
.margin-bottom-xxsmall {
	@include rem(margin-bottom, $margin-xxsmall);
}
.nomargin{
	margin: 0 0 0 0 !important;
}
.nomargin-top{
	margin-top: 0 !important;
}
.nomargin-bottom{
	margin-bottom: 0 !important;
}

//== Borders
.noborder{
	border: none !important;
}
.border-all{
	@include border-all();
}
.border-left {
	@include border-left();
}
.border-right {
	@include border-right();
}
.border-top {
	@include border-top();
}
.border-bottom {
	@include border-bottom();
}
.border-bottom-none{
	border-bottom: none !important;
}

.border-white-all{
	@include border-white-all();
}
.border-white-top{
	@include border-white-top();
}
.border-white-left{
	@include border-white-left();
}
.border-white-right{
	@include border-white-right();
}
.border-white-bottom{
	@include border-white-bottom();
}

.border-radius-all-8{
	@include border-top-radius(8px);
	@include border-right-radius(8px);
	@include border-bottom-radius(8px);
	@include border-left-radius(8px);
}


// ----- Hover Helpers -----

.hover-white-05:hover, .hover-white-5:hover {
	@include hover-white(5);
}
.hover-white-10:hover {
	@include hover-white(10);
}
.hover-white-20:hover {
	@include hover-white(20);
}
.hover-white-25:hover {
	@include hover-white(25);
}

.hover-black-05:hover, .hover-black-5:hover {
	@include hover-black(5);
}
.hover-black-10:hover {
	@include hover-black(10);
}
.hover-black-20:hover {
	@include hover-black(20);
}
.hover-black-25:hover {
	@include hover-black(25);
}

a{
	text-decoration: none;
	&:hover,
	&:focus{
		text-decoration: none;
	}
}

//== Tables
.table-responsive{
	border: none;
}
table{
	th{
		background-color: $gray-medium;
		@extend %raleway-bold;
		@include rem(font-size, 11px);
		color: $white;
		text-transform: uppercase;
	}
	tr{
		
	}
	td{
		@include rem(border-bottom, 1px solid $gray-light !important);
		ul{
			margin-bottom: 0;
			&.file-types{
				li{
					padding-left: 0;
					padding-right: 0;
					a{
						display: block;
						text-indent: -1000em;
						@include rem(width, 20px);
						@include rem(height, 25px);
						&.doc{
							background: transparent inline-image('../images/ui/icon_doc.png') no-repeat center center;
						}
						&.xls{
							background: transparent inline-image('../images/ui/icon_xls.png') no-repeat center center;
						}
						&.pdf{
							background: transparent inline-image('../images/ui/icon_pdf.png') no-repeat center center;
						}
						&.listen{
							background: transparent inline-image('../images/ui/icon_listen.png') no-repeat center center;
						}
					}
				}
			}
		}
	}
	&.upcoming-events{
		td{
			background-color: $gray-light;
			@include rem(border-bottom, 1px solid $white !important);
		}
	}

}
.table-nav{
		ul{
			&.list-inline{
				li{
					a{
						@include rem(font-size, 13px);
						@include rem(border-right, 1px solid $gray);
						@include rem(padding-right, 15px);
					}
					&:last-child{
						a{
							border-right: none;
						}
					}
				}
			}
		}
}
//== Shadows
.box-shadow-all-sides{
	@include box-shadow(0 0 5px 2px $gray);
}

//
// Buttons
// --------------------------------------------------

// Common styles
.btn-default,
.btn-primary,
.btn-dark-blue,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  $shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
  @include box-shadow($shadow);

  // Reset the shadow
  &:active,
  &.active {
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
	a{
		color: $white;
	}
}

// Mixin for generating new styles
@mixin btn-styles($btn-color: $brand-primary, $font-color: $white) {
	border: 0;
	color: $font-color !important;
	@include rem(padding-left, 20px);
	@include rem(padding-right, 20px);
	@include transition(all 0.3s);
	text-decoration: none !important;
	&:hover,
	&:active{
		color: $white !important;
		border-color: $btn-color;
	}
}

// Common styles
.btn {
	@include button-size(11px, $padding-base-horizontal, $font-size-base, $line-height-base, 0);
	position: relative;
	font-family: $font-family-sans-serif;
	@include rem(font-size, 13px !important);
	@include transition(all 0.3s);
	// Remove the gradient for the pressed/active state
	&:active,
	&.active {
		background-image: none;
	}
}

// Apply the mixin to the buttons
.btn-default {
	@include btn-styles($btn-default-bg);
	text-shadow: none;
	border-color: $btn-default-border;
}
.btn-primary { 
	@include btn-styles($brand-primary, $green-bright);
}

.btn-white{
	@include btn-styles($white, $black);
	border: 0;
	text-align: left !important;
	white-space: inherit;
	h3{
		@include rem(margin-top, $margin-xsmall);
		@include nomargin-bottom();
		@include font-family($font-family-serif);
		text-transform: none;
	}
	h4{
		font-family: $font-family-sans-serif !important;
		color: $gray !important;
		@include rem(font-size, 13px !important);
		text-transform: none;
	}
}

.btn-transparent{
	@include btn-styles($white);
	background-color: transparent;
	@include rem(border, 1px solid $white !important);
	@include rem(border-bottom, 1px solid $white !important);
	&:after{
		background: $white;
	}
	&:hover{
		color: $gray !important;
		border-color: $white;
	}
}
input.btn-transparent{
	&:hover{
		background: $white;
	}
}
.btn-success { @include btn-styles($btn-success-bg); }
.btn-info    { @include btn-styles($btn-info-bg); }
.btn-warning { @include btn-styles($btn-warning-bg); }
.btn-danger  { @include btn-styles($btn-danger-bg); }

.contact-submit input[type=submit] {
	@include btn-styles($white);
	background-color: transparent;
	@include rem(border, 1px solid $white);
	&:after{
		background: $white;
	}
	&:hover{
		color: $gray !important;
		border-color: $white;
	}
}

//
// Arrows
// --------------------------------------------------
.arrow-left-small{
	@include rem(padding-left, 20px);
	background: transparent url("../images/ui/arrow.png") no-repeat left center;
}

//
// Dropdowns
// --------------------------------------------------

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  @include gradient-vertical($start-color: $dropdown-link-hover-bg, $end-color: darken($dropdown-link-hover-bg, 5%));
  background-color: darken($dropdown-link-hover-bg, 5%);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  @include gradient-vertical($start-color: $dropdown-link-active-bg, $end-color: darken($dropdown-link-active-bg, 5%));
  background-color: darken($dropdown-link-active-bg, 5%);
}

//
// Font helpers
// --------------------------------------------------

$normal-text-mag: 1;
$medium-text-mag: 1.1;
$large-text-mag: 1.2;
$larger-text-mag: 1.3;

%body-copy{
	@include fontMetrics( 16px, 24px );
	p,ul,ol,li,blockquote,td{
		@include fontMetrics( 16px, 24px );
		-webkit-font-feature-settings: 'lnum';
		-moz-font-feature-settings: 'lnum';
		-ms-font-feature-settings: 'lnum';
	}
}

.body-copy,.normal-text{
	@extend %body-copy;
}

.hidden{
	display: none;
}

//Families
%raleway{
	@include font-family($font-family-raleway);
}
%raleway-bold{
	@include font-family($font-family-raleway);
	font-weight: bold;
}
%raleway-light{
	@include font-family($font-family-raleway);
	font-weight: 300;
}
%raleway-medium{
	@include font-family($font-family-raleway);
	font-weight: 500;
}
%raleway{
	@extend %raleway;
}
.raleway-bold{
	@extend %raleway-bold;
}
.raleway-light{
	@extend %raleway-light;
}
.raleway-medium{
	@extend %raleway-medium;
}
.egyptienne-light{
	@include font-family($font-family-egyptienne-light);
}

//Font weights

.weight-100{
	font-weight: 100 !important;
}

.font-size-11{
	@include font-size(11px);
}
.font-size-12{
	@include font-size(12px);
}
.font-size-14{
	@include font-size(14px);
}
.font-size-16{
	@include font-size(16px);
}
.font-size-18{
	@include font-size(18px);
}
.font-size-24{
	@include font-size(24px);
}
.font-size-32{
	@include font-size(32px);
}
.font-size-44{
	@include font-size(44px);
}
.font-size-46{
	@include font-size(46px);
}
.font-size-72{
	@include font-size(72px);
}

//Colors
.green-dark{
	color: $green-dark;
}
.background-green-dark{
	background-color: $green-dark;
}
.green-bright{
	color: $green-bright;
}
.background-green-bright{
	background-color: $green-bright;
}
.green-mint{
	color: $green-mint;
}
.background-green-mint{
	background-color: $green-mint;
}
.gray{
	color: $gray;
}
.background-gray{
	background-color: $gray;
}
.gray-medium{
	color: $gray-medium;
}
.background-gray-medium{
	background-color: $gray-medium;
}
.gray-light{
	color: $gray-light;
}
.background-gray-light{
	background-color: $gray-light;
}
.gray-lightest{
	color: $gray-lightest;
}
.background-gray-lightest{
	background-color: $gray-lightest;
}

// Default heading styles
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	
}
h1,.h1{
	@include h1();
}
h2,.h2{
	@include h2();
}
h3,.h3{
	@include h3();
}
h4,.h4{
	@include h4();
}
h5,.h5{
	@include h5();
}
h6,.h6{
	@include rem(line-height, 24px);
}

//
// Nav
// --------------------------------------------------

// Default navbar
.navbar-default {
	
	//@include transition(all .4s ease);
	background: $white;
	border-radius: $navbar-border-radius;
	@include rem(border-top, 10px solid $brand-primary);
	border-right: none;
	border-bottom: none;
	border-left: none;
	$shadow: none;
	@include box-shadow($shadow);
	font-family: $font-family-sans-serif;
	@include rem(font-size, 16px);
	
	.menu-header-container{
		margin: 0 ($grid-gutter-width / 2);
	}
	.navbar-toggle{
		float: left;
		@include rem(height, $navbar-height-collapse);
		border-left: 1px solid $gray-light;
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		@include rem(padding, 28px 14px 28px 28px);
		color: $gray-medium;		
		&:hover {
			background-color: transparent;
			color: $brand-primary;
		}
		&:before{
			content: "\f0c9";
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			@include rem(font-size, 21px);
		}
		&:focus{
			background-color: transparent;
			color: $brand-primary;
		}
	}

	// Brand/project name
	.navbar-header{
		@include transition(all .4s ease);
		.navbar-brand {
			@include transition(all .4s ease);
			
			float: left;
			padding: $navbar-padding-vertical $navbar-padding-horizontal;

			font-size: $font-size-large;
			line-height: $line-height-computed;
			@include rem(height, $navbar-height-collapse);
			@include rem(width, 200px);
			background: transparent url('../images/logo.png') no-repeat left center;
			text-indent: -10000em;

			&:hover,
			&:focus {
				text-decoration: none;
				@include opacity(.8);
			}

			@media (min-width: $grid-float-breakpoint) {
				.navbar > .container &,
				.navbar > .container-fluid & {
					margin-left: -$navbar-padding-horizontal;
				}
			}
		}
	}
	.navbar-collapse{
	}
	
	.list-inline{
		margin-bottom: 0;
		@include transition(all .4s ease);
		&> li{
			position: relative;
			padding-left: 0;
			padding-right: 0;
			@include rem(height, $navbar-height);
			@include rem(line-height, $navbar-height);
			&.on,
			&:hover{
				border-bottom: none;
				background-color: none;
				&:before{
					@include opacity(1);
				}
				a{
					background: none;
					color: $green-dark;
					text-decoration: none;
				}
			}
			&:first-child{
				a{
					@include rem(border-left, 1px solid $gray-light);
				}
			}
			.sub-menu {
				display: none;
				position: absolute;
				@include rem(top, $navbar-height-collapse);
				left: 0;
				padding: 0;
				list-style-type: none;
				text-align: left;
				a {
					display: block;
					color: $white;
					white-space: nowrap;
					padding: 0 20px;
					background: $green-dark;
					@include fontMetrics(13px, 50px);
					text-transform: uppercase;
					font-weight: bold;
					&:hover {
						background: $navbar-submenu-divider;
						color: $white;
						text-decoration: none;
					}
				}
				li{
					border-top: 1px solid $navbar-submenu-divider;
				}
				li:first-child {
					border-top: none;
				}
				.on {
					a {
						background: $navbar-submenu-divider;
						color: $white;
						text-decoration: none;
					}
				}
			}
			&:hover .sub-menu {
				display: block;
			}
		}
		&> li > a{
			@include rem( padding, 0 26px );
			text-decoration: none;
			@include transition(color .4s ease);
			@include rem(border-right, 1px solid $gray-light);
			color: $gray;
		}
	}
}

// Undo rounded corners in static and fixed navbars
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-subnav,
.navbar-toggle{
  border-radius: 0;
}
.navbar-fixed-top{
	//@include backface-visibility(hidden);
	z-index: 1061;
}
.navbar{
	margin-bottom: 0;
}
.sidebar-offcanvas {
	@include rem( padding-top, 20px );
	background-color: $green-dark;
	font-family: $font-family-sans-serif;
	font-weight: 300;
	@include rem(font-size, 18px);
	@include box-shadow(inset 10px 0px 25px 0px rgba(15, 42, 36, 0.5));
	.nav{
		//All li elements
		li{
			a{
				@include rem(padding, 10px 50px 10px 15px);
				text-decoration: none;
				width: 100%;
			}
			&.has-children{
				&>a{
					@include rem(padding, 10px 15px);
					&:after{
						display: inline-block;
						vertical-align: middle;
						@include rem(padding-left, 20px);
						font-family: 'FontAwesome';
						font-weight: normal;
						@include rem(font-size, 21px);
						content: $fa-var-angle-up;
						text-align: right;
					}
				}
				&.on{
					&>a{
						&:after{
							content: $fa-var-angle-down;
						}
					}
				}
			}
		}
		&>li{
			text-align: right;
			@include rem(border-bottom, 1px solid $navbar-submenu-divider);
			&:hover,
			&:focus,
			&.on{
				background-color: $navbar-submenu-divider;
			}
			a{
				color: $white;
				&:hover{
					background-color: transparent;
					color: $white;
				}
			}
			>.sub-menu{
				&.off{
					display: none;
				}
				@extend .list-unstyled;
				&>li{
					&:hover,
					&:focus,
					&.on{
						background-color: $gray-medium;
						a{
							color: $white;
						}
					}
					background-color: $gray-light;
					font-weight: bold;
					@include rem(font-size, 15px);
					@include rem(line-height, 40px);
					@include rem(border-bottom, 1px solid $white);
					text-transform: uppercase;
					height: auto;
					a{
						color: $gray-medium;
					}
					>.sub-menu{
						&.off{
							display: none;
						}
						@extend .list-unstyled;
						&>li{
							&:hover,
							&:focus,
							&.on{
								background-color: $white;
								a{
									color: $gray-medium;
								}
							}
							background-color: $gray-lightest;
							@include rem(border-bottom, 1px solid $gray-light);
							@include rem(font-size, 13px);
							a{
								color: $gray-medium;
							}
						}
					}
				}
			}
		}
	}
	// Brand/project name
	.navbar-brand {
		display: block;
		float: none;
		padding: $navbar-padding-vertical $navbar-padding-horizontal;
		@include rem(width, 32px);
		@include rem(height, 32px);
		margin: 0 auto;
		background: transparent inline-image('../images/logo_mobile.png') no-repeat center center;
		background-size: contain;
		text-indent: -10000em;
		
		&:hover,
		&:focus {
			text-decoration: none;
		}

		@media (min-width: $grid-float-breakpoint) {
			.navbar > .container &,
			.navbar > .container-fluid & {
				margin-left: -$navbar-padding-horizontal;
			}
		}
	}
	
	.social{
		@include rem(padding-right, 48px);
		li{
			@include transition(all .4s ease);
			i{
				@include transition(all .4s ease);
				color: $green-mint;
			}
			a{
				@include transition(all .4s ease);
				color: $green-dark;
				padding-left: 0;
				padding-right: 0;
				border-right: none;
			}
			&:hover,
			&:focus{
				i{
					color: $white;
				}
				a{
					color: $green-dark;
				}
			}
		}
	}
	
	.search-tool{
		@include padding-left();
		@include padding-right-small();
		@include margin-bottom-small();
			.form-control{
				border-color: darken($green-dark, 5%);
				background-color: darken($green-dark, 5%);
				@include placeholder($white);
				color: $white;
			}
			.form-control-feedback{
				@include rem(top, 20px);
				@include transition(all .4s ease);
				@include rem(right, ($grid-gutter-width / 2) );
				background-color: darken($green-dark, 5%);
				color: $white;
				@include rem(border-left, 1px solid $green-dark);
			}
			input[type="submit"]{
				position: absolute;
				@include rem(top, 20px);
				@include rem(right, ($grid-gutter-width / 2) );
				width: $input-height-base;
				height: $input-height-base;
				background-color: transparent;
				text-indent: -1000em;
				z-index: 1;
			}
	}

}

// Pills
// -------------------------
.nav-pills {
	background: transparent inline-image('../images/ui/divider_gray.png') no-repeat right center;
	@extend %raleway-bold;
	text-transform: uppercase;
  > li {
    float: left;
	@include rem(border-right, 2px solid $white);
	
    // Links rendered as pills
    > a {
		border-radius: $nav-pills-border-radius;
		color: $gray;
		background-color: $gray-light;
		@include rem(font-size, 13px);
    }
    + li {
		margin-left: 0;
		@include rem(border-right, 2px solid $white);
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-pills-active-link-hover-color;
        background-color: $nav-pills-active-link-hover-bg;
      }
    }
  }
}

//
// List groups
// --------------------------------------------------

.list-group {
  border-radius: $border-radius-base;
  @include box-shadow(0 1px 2px rgba(0,0,0,.075));
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 darken($list-group-active-bg, 10%);
  @include gradient-vertical($start-color: $list-group-active-bg, $end-color: darken($list-group-active-bg, 7.5%));
  border-color: darken($list-group-active-border, 7.5%);
}

//
// Panels
// --------------------------------------------------

// Common styles
.panel {
  @include box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Mixin for generating new styles
@mixin panel-heading-styles($color) {
  @include gradient-vertical($start-color: $color, $end-color: darken($color, 5%));
}

// Apply the mixin to the panel headings only
.panel-default > .panel-heading   { @include panel-heading-styles($panel-default-heading-bg); }
.panel-primary > .panel-heading   { @include panel-heading-styles($panel-primary-heading-bg); }
.panel-success > .panel-heading   { @include panel-heading-styles($panel-success-heading-bg); }
.panel-info > .panel-heading      { @include panel-heading-styles($panel-info-heading-bg); }
.panel-warning > .panel-heading   { @include panel-heading-styles($panel-warning-heading-bg); }
.panel-danger > .panel-heading    { @include panel-heading-styles($panel-danger-heading-bg); }

//
// Panels

/*
.panel{
	@include border-white-top();
	&:last-child{
		@include border-white-bottom();
	}
	&.panel-faqs{
		background: none;
		$shadow: none;
		@include box-shadow($shadow);
		.panel-heading{
			@include rem(padding, 15px);
			background-color: transparent;
			.panel-title{
				@include h3();
				@include font-family($font-family-serif);
				@include nomargin-top();
				@include nomargin-bottom();
				a{
					display: block;
					@include rem(min-height, 50px);
					@include rem(line-height, 50px);
					@include rem(padding-right, 60px);
					color: $white;
					background: transparent url('../images/ui/toggle_open.png') no-repeat center right;
					&.collapsed{
						color: $white;
						background: transparent url('../images/ui/toggle_closed.png') no-repeat center right;
					}
				}
			}
		}
		.panel-body{
			background: $offwhite;
			@include rem(padding-right, 80px);
			p,ul,ol,li,blockquote{
				@include fontMetrics( 15px, 24px );
			}
		}
		.panel-collapse{
			.panel-body{
				border: 0;
			}
		}
	}
}
*/

//
// Wells
// --------------------------------------------------

.well {
  @include gradient-vertical($start-color: darken($well-bg, 5%), $end-color: $well-bg);
  border-color: darken($well-bg, 10%);
  $shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  @include box-shadow($shadow);
}

//
// Templates
// --------------------------------------------------
body{
	.feature{
		@include font-family($font-family-serif);
		p,ul,ol,li,blockquote{
			@include fontMetrics( 18px !important, 24px !important );
		}
		h2{
			@include h1();
			@include padding-bottom-small();
			text-transform: uppercase;
		}
	}
	.values{
		@include font-family($font-family-sans-serif);
		text-transform: uppercase;
		text-align: center;
		p{
			@include font-family($font-family-sans-serif);
		}
	}
	.heading-line-height-reset{
		@include rem(line-height, $headings-line-height);
	}
	.fullscreen{
		@include fullscreen();
	}
	section{
		.down-arrow{
			text-transform: uppercase;
			position: absolute;
			@include rem(bottom, 20px);
			@include rem(font-size, 10px !important);
			margin: 0 auto;
			width: 100%;
			color: $white;
			@include animation-name(fadeInOut);
			@include animation-timing-function(ease-in-out);
			@include animation-iteration-count(infinite);
			@include animation-duration(2s);
			@include animation-direction(alternate);
		}
	}
	.container-fluid{
		&#content{
			
			position: relative;
			@include rem(padding-top, $navbar-height + 10px);
			h1{
				&.page-title{
					@include h3();
					@extend .text-uppercase;
					color: $green-dark;
				}
			}
			@extend %body-copy;
			
			//Feature
			.featured{
				@include rem(height, 290px);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
				.container{
					position: relative;
					.stock-ticker{
						position: absolute;
						top: 0;
						right: 0;
						.symbol{
							background-color: $green-dark;
							ul{
								@include rem(padding-left, 20px);
								@include rem(padding-right, 20px);
								margin-bottom: 0;
								li{
									@include rem(line-height, 40px);
									color: $white;
									&.exchange{
										display: table;
										width: 100%;
										&:after{
											display: table-cell;
											vertical-align: middle;
											padding-left: 10px;
											font-family: 'FontAwesome';
											font-weight: normal;
											@include rem(font-size, 19px);
											content: $fa-var-angle-right;
											text-align: right;
										}
										a{
											display: block;
											color: $white;
											text-decoration: none;
										}
									}
								}
							}
						}
						.price{
							background-color: $gray-light;
							ul{
								@include rem(padding-left, 20px);
								@include rem(padding-right, 20px);
								margin-bottom: 0;
								li{
									@include rem(line-height, 40px);
									color: $gray;
									&.current-price{
										@extend %raleway-bold;
									}
									&.change{
										.fa{
											color: $green-bright;
										}
									}
								}
							}
						}
					}
				}
			}
			
			.stock-ticker{
				&.big{
					.symbol{
						ul{
							li{
								&.exchange{
									@include rem(font-size, 54px);
									color: $green-dark;
								}
							}
						}
					}
					.price{
						ul{
							li{
								@include rem(font-size, 32px);
								&.current-price{
									@extend %raleway-bold;
								}
								&.change{
									.fa{
										color: $green-bright;
										@include rem(font-size, 32px);
									}
								}
							}
						}
					}
				}
			}
			.graphs,
			.management{
				h5,.h5{
					@include fontMetrics(11px,40px);
					background-color: $gray-medium;
					color: $white;
					@include padding-left-small();
					@include margin-bottom-small();
					text-transform: uppercase;
				}
				&.single{
					h2{
						&.page-title{
							@include fontMetrics(16px, 24px);
							@extend %raleway;
							font-weight: normal;
							@include rem(margin-top, 10px);
							@include rem(margin-bottom, 5px);
						}
					}
					h3{
						&.officer-title{
							margin-top: 0;
							@include margin-bottom-small();
							@include fontMetrics(12px, 16px);
							font-weight: 500;
							color: $green-bright;
						}
					}
				}
			}
			.tools{
				text-align: right;
				ul{
					&.list-inline{
						@include rem(margin-top, 15px);
						@include rem(margin-bottom, 20px);
						li{
							padding-left: 0;
							padding-right: 0;
							a{
								@include rem(border-right, 1px solid $gray);
								@include rem(padding-left, 15px);
								@include rem(padding-right, 15px);
								@include rem(font-size, 11px);
								color: $gray;
								&:hover,
								&:focus{
									color: $green-dark;
									text-decoration: none;
								}
							}
							&:last-child{
								a{
									border-right: none;
								}
							}
						}
					}
				}
			}
			.quick-links{
				@include rem(font-size, 13px);
				color: $gray;
				@extend %raleway-bold;
				h2{
					@extend %raleway-light;
					color: $white;
					margin-top: 0;
					margin-bottom: 0;
					@include rem(line-height, 100px);
				}
				a{
					color: $gray;
				}
				.row{
					div{
						@include rem(border-right, 1px solid $white);
						text-align: center;
						@include rem(min-height, 100px);
						ul{
							&.nav-justified{
								li{
									@include rem(border-right, 1px solid $white);
									a{
										@include rem(min-height, 100px);
										padding: 0;
										span{
											display: block;
											@include padding-top-small();
											@include padding-bottom-xsmall();
										}
									}
								}
								li:last-child{
									border-right: none;
								}
							}
						}
					}
					div:first-child{
						@include rem(border-left, 1px solid $white);
					}
				}
			}
			//Main article styles
			article[role="article"]{
				@extend %raleway;
				color: $green-bright;
				&.item{
					@include padding-bottom-2x();
					@include padding-left();
					@include padding-right();
				}
				h2{
					@extend %raleway;
					@include rem(font-size, 18px);
					@include rem(margin-top, 10px);
					line-height: normal;
					color: $green-bright;
				}
				p,ul,ol,li,blockquote{
					@include fontMetrics( 18px, 28px );
				}
				a{
					font-weight: 400;
				}
			}
			
			//specific UL styling
			ul{
				&.list-unstyled{
					&.reports,
					&.officer{
						margin-bottom: 0;
						li{
							&.details{
								@include padding-small();
								background-color: $gray-light;
								@include border-white-top();
								h3{
									@include fontMetrics(16px,24px);
									color: $text-color;
									font-weight: normal;
									margin-top: 0;
									a{
										@include fontMetrics(16px,24px);
										color: $text-color;
										font-weight: normal;
										margin-top: 0;
										text-decoration: none;
										&:hover,
										&:focus{
											color: $green-dark;
										}
									}
								}
								a{
									font-weight: bold;
									@include rem(font-size, 13px);
									color: $green-dark;
								}
							}
						}
					}
					&.officer{
						p{
							@include rem(font-size, 12px);
							font-weight: 500;
							line-height: normal;
						}
					}
					&.sub-pages{
						li{
							background-color: $green-dark;
							@include rem(padding, 10px 20px);
							a{
								display: block;
								color: $white;
								text-decoration: none;
								font-weight: bold;
								@include fontMetrics(13px, 22px);
							}
							&:hover,
							&:focus,
							&.on{
								background-color: darken($green-dark, 5%);
							}
						}
					}
				}
			}
			
			.disclaimer{
				p{
					font-weight: 500;
					@include rem(font-size, 12px);
				}
			}
			//
			// Forms
			// --------------------------------------------------

			.form{
				label{
					@include rem(font-size, 13px);
					font-weight: bold;
				}
				p{
					&.form-required{
						color: $green-dark;
						@include rem(font-size, 12px);
					}
				}
				input[type="text"]{
					-webkit-font-feature-settings: 'lnum';
					-moz-font-feature-settings: 'lnum';
					-ms-font-feature-settings: 'lnum';
				}
			}
		}
		&.overlay{
			padding-left: 0;
			padding-right: 0;
			&:before{
				content: " ";
				background: transparent url('../images/ui/bg_multiply_overlay.png') repeat center center;
				height: 100%;
				width: 100%;
				background-size: cover;
			}
		}
	}
	.grid-posts{
		.item{
			@include border-transparent-all();
			@include rem(margin-bottom, 30px);
		}
	}
}
#main-container{
	.main-row{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.row-offcanvas{
		height: 100%;
		.popover{
			color: $gray;
			border: 0;
			padding: 0;
			.popover-content{
				padding: 0;
				p,ul,ol,li,blockquote{
					@include rem(padding, 0 14px);
					@include rem(font-size, 13px);
				}
				img{
					@include img-responsive();
					@include rem(padding, 14px);
				}
				h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
					@include font-family($font-family-sans-serif);
					text-transform: uppercase;
					@include rem(padding-left, 14px);
					@include rem(border-left, 6px solid $black);
					line-height: inherit;
					color: $black;
				}
			}
		}
		.owl-item{
			text-align: center;
			@include padding-left();
			@include padding-right();
		}
		.owl-controls{
			width: 100%;
			text-align: center;
			.owl-page{
				span{
					background: transparent;
					@include rem(border, 2px solid $green-bright);
				}
				&.active{
					span{
						@include rem(border, 2px solid $white);
					}
				}
			}
		}
	}
}

//
// Forms
// --------------------------------------------------
textarea{
	&.form-control{
		@include resizable(vertical);
	}
}

.form-filters{
	.glyphicon-search{
		background-color: darken($gray-light, 5%);
		color: $white;
	}
}

//
// Footer
// --------------------------------------------------
footer{
	&#footer{
		background-color: $green-dark;
		@include rem(border-top, 4px solid $brand-primary);
		@include rem(font-size, 12px);
		@include font-family($font-family-sans-serif);
		color: $green-mint;
		
		h6{
			color: $green-bright;
			@include rem( letter-spacing, 2px );
		}
		ul{
			&.menu{
				margin-left: 0px;
				a{
					@include transition(color .4s ease);
					text-decoration: none;
					@include rem(padding-left, 0);
					@include rem(padding-right, 0);
					color: $green-mint;
					text-transform: uppercase;
					&:hover,
					&:focus{
						color: $white;
					}
				}
				li{
					display: block;
					width: 50%;
					float: left;
					padding-left: 0;
					padding-right: 0;
					@include rem(line-height, 26px);
					&.on{
						a{
							color: $white;
						}
					}
					&:first-child{
						a{
							padding-left: 0;
						}
					}
					&:last-child{
						a{
							border-right: none;
						}
					}
				}
			}
		}
		a{
			&:hover,
			&:focus{
				color: $white;
			}
			&.brand{
				@include transition(all .4s ease);
				display:block;
				@include rem(height, 49px);
				@include rem(width, 56px);
				background: transparent inline-image('../images/logo_footer.png') no-repeat left top;
				text-indent: -10000em;
				border-right: none;
				&:hover,
				&:focus {
					text-decoration: none;
					@include opacity(.8);
				}

			}
		}
		p{
			margin-left: 0;
		}
		.search-tool{
			.form-control{
				border-color: darken($green-dark, 5%);
				background-color: darken($green-dark, 5%);
				@include placeholder($white);
				color: $white;
			}
			.form-control-feedback{
				@include transition(all .4s ease);
				@include rem(right, ($grid-gutter-width / 2) );
				background-color: darken($green-dark, 5%);
				color: $white;
				@include rem(border-left, 1px solid $green-dark);
			}
			input[type="submit"]{
				position: absolute;
				top: 0;
				@include rem(right, ($grid-gutter-width / 2) );
				width: $input-height-base;
				height: $input-height-base;
				background-color: transparent;
				text-indent: -1000em;
				z-index: 1;
			}
		}
		ul{
			&.social{
				li{
					@include transition(all .4s ease);
					i{
						@include transition(all .4s ease);
						color: $green-mint;
					}
					a{
						@include transition(all .4s ease);
						color: $green-dark;
						padding-left: 0;
						padding-right: 0;
						border-right: none;
					}
					&:hover,
					&:focus{
						i{
							color: $white;
						}
						a{
							color: $green-dark;
						}
					}
				}
			}
		}
		.copyright{
			background-color: darken($green-dark, 5%);
			@include rem(font-size, 10px);
			@include rem(line-height, 40px);
			ul{
				&.list-inline{
					margin-bottom: 0;
					li{
						a{
							color: $green-mint;
							@include rem(border-right, 1px solid $green-mint);
							@include rem(padding-right, 10px);
						}
						&:last-child{
							a{
								border-right: none;
							}
						}
					}
				}
			}
		}
	}
}