//
// Load core variables and mixins
// --------------------------------------------------

@import "bootstrap/variables";
@import "bootstrap/mixins";

//== Text Selection
@include text-selection($white, $brand-primary);

// ----- Hover Helpers -----

.hover-white-05:hover, .hover-white-5:hover {
	@include hover-white(5);
}
.hover-white-10:hover {
	@include hover-white(10);
}
.hover-white-20:hover {
	@include hover-white(20);
}
.hover-white-25:hover {
	@include hover-white(25);
}

.hover-black-05:hover, .hover-black-5:hover {
	@include hover-black(5);
}
.hover-black-10:hover {
	@include hover-black(10);
}
.hover-black-20:hover {
	@include hover-black(20);
}
.hover-black-25:hover {
	@include hover-black(25);
}

a{
	text-decoration: none;
	&:hover,
	&:focus{
		text-decoration: none;
	}
}

//== Shadows
.box-shadow-all-sides{
	@include box-shadow(0 0 5px 2px $gray);
}

//
// Arrows
// --------------------------------------------------
.arrow-left-small{
	@include rem(padding-left, 20px);
	background: transparent url("../images/ui/arrow.png") no-repeat left center;
}


//Colors
.white{
	color: $white;
}
.green-dark{
	color: $green-dark;
}
.background-green-dark{
	background-color: $green-dark;
}
.green-bright{
	color: $green-bright;
}
.background-green-bright{
	background-color: $green-bright;
}
.green-mint{
	color: $green-mint;
}
.background-green-mint{
	background-color: $green-mint;
}
.gray{
	color: $gray;
}
.background-gray{
	background-color: $gray;
}
.gray-medium{
	color: $gray-medium;
}
.background-gray-medium{
	background-color: $gray-medium;
}
.gray-light{
	color: $gray-light;
}
.background-gray-light{
	background-color: $gray-light;
	&.contacts{
		a{
			color: $gray;
			&:hover,
			&:focus{
				color: $green-dark;
			}
		}
	}
}
.gray-lightest{
	color: $gray-lightest;
}
.background-gray-lightest{
	background-color: $gray-lightest;
}



@import "includes/sidebar-offcanvas";

//
// Templates
// --------------------------------------------------
body{
	.feature{
		@include font-family($font-family-serif);
		p,ul,ol,li,blockquote{
			@include fontMetrics( 18px !important, 24px !important );
		}
		h2{
			@include h1();
			@include padding-bottom-small();
			text-transform: uppercase;
		}
	}
	.values{
		@include font-family($font-family-sans-serif);
		text-transform: uppercase;
		text-align: center;
		p{
			@include font-family($font-family-sans-serif);
		}
	}
	.heading-line-height-reset{
		@include rem(line-height, $headings-line-height);
	}
	.fullscreen{
		@include fullscreen();
	}
	section{
		.down-arrow{
			text-transform: uppercase;
			position: absolute;
			@include rem(bottom, 20px);
			@include rem(font-size, 10px !important);
			margin: 0 auto;
			width: 100%;
			color: $white;
			@include animation-name(fadeInOut);
			@include animation-timing-function(ease-in-out);
			@include animation-iteration-count(infinite);
			@include animation-duration(2s);
			@include animation-direction(alternate);
		}
	}

	#content > .container > .row > div {
		&> h3 {
			text-transform: uppercase;
			color: $green-dark;
		}
	}
	.container-fluid{
		&#content{
			position: relative;
			@include rem(padding-top, $navbar-height + 10px);
			h1{
				&.page-title{
					@include h3();
					@extend .text-uppercase;
					color: $green-dark;
				}
			}
			@extend %body-copy;

			.quick-news{
				.item{
					@include padding-top-small();
					@include padding-right-small();
					@include padding-bottom-small();
					@include padding-left-small();
					&.upcoming-events{
						.inner-wrap{
							background: $green-dark inline-image('../images/ui/icon_calendar.png') no-repeat right bottom;
						}
					}
					&.current-presentation{
						.inner-wrap{
							background: $green-dark inline-image('../images/ui/icon_presentation.png') no-repeat right bottom;
						}
					}
					&.email-alerts{
						.inner-wrap{
							background: $green-dark inline-image('../images/ui/icon_envelope.png') no-repeat right bottom;
						}
					}
					h4{
						color: $green-bright;
					}
					p{
						color: $white;
					}
					a{
						color: $white;
						&:hover,
						&:focus{
							color: $green-bright;
						}
					}
					.inner-wrap{
						@include padding-top-xsmall();
						@include padding-right-small();
						@include padding-bottom();
						@include padding-left-small();
					}
				}
			}

			.statement{
				@extend %raleway-light;
				@include fontMetrics(32px, 40px);
				color: $green-dark;
			}
			h2.statement{
				margin-top: 0;
			}
			.section-content{
				a{
					@include rem(font-size, 13px);
				}
			}
			//Feature
			.featured{
				@include rem(height, 300px);
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;

				.container{
					position: relative;
					.stock-ticker{
						position: absolute;
						top: 0;
						right: 0;
						.symbol{
							background-color: $green-dark;
							ul{
								@include rem(padding-left, 20px);
								@include rem(padding-right, 20px);
								margin-bottom: 0;
								li{
									@include rem(line-height, 40px);
									color: $white;
									&.exchange{
										display: table;
										width: 100%;
										&:after{
											display: table-cell;
											vertical-align: middle;
											padding-left: 10px;
											font-family: 'FontAwesome';
											font-weight: normal;
											@include rem(font-size, 19px);
											content: $fa-var-angle-right;
											text-align: right;
										}
										a{
											color: $white;
											text-decoration: none;
										}
									}
								}
							}
						}
						.price{
							background-color: $gray-light;
							ul{
								@include rem(padding-left, 20px);
								@include rem(padding-right, 20px);
								margin-bottom: 0;
								li{
									@include rem(line-height, 40px);
									color: $gray;
									&.current-price{
										@extend %raleway-bold;
									}
									&.change{
										.fa{
											color: $green-bright;
											&.fa-sort-down{
												color: #F00;
											}
										}
									}
								}
							}
						}
					}
				}

				&.carousel{
					position: relative;
					height: auto;
					img{
						width: 100%;
						height: auto;
					}
					.hero-text{
						position: absolute;
						top: 20%;
						@include rem(width, 458px);
						@include rem(padding, 7px 44px 27px 44px);
						background: transparent inline-image('../images/bg_hero-text.png') repeat;
						color: $white;
						h2{
							color: $white;
						}
						a{
							font-weight: 700;
							@include rem(font-size, 13px);
							color: $green-dark;
							&:hover,
							&:focus{
								color: $green-mint;
							}
						}
					}
					.container{
						.stock-ticker{
							position: relative;
							@include rem(top, -40px);
						}
					}
					.owl-item{
					}
					.owl-controls{
						position: absolute;
						@include rem(bottom, 20px);
						width: 100%;
						text-align: left;
						@include rem(padding-left, 44px);
						.owl-page{
							span{
								background: $white;
								@include rem(border, 2px solid $white);
							}
							&.active{
								span{
									background: $green-dark;
									@include rem(border, 2px solid $green-dark);
								}
							}
						}
					}
				}
				&.map{
					position: relative;
					height: auto;
					img{
						width: 100%;
						height: auto;
					}
				}
			}

			.container{
				&.timeline{
					&.details{
						h1{
							@include rem(font-size, 54px);
							@include font-family($font-family-sans-serif);
							color: $green-bright;
						}
					}
				}
			}

			.stock-ticker{
				&.big{
					.symbol{
						ul{
							li{
								&.exchange{
									@include rem(font-size, 54px);
									color: $green-dark;
								}
							}
						}
					}
					.price{
						ul{
							li{
								@include rem(font-size, 32px);
								&.current-price{
									@extend %raleway-bold;
									color: $green-dark;
								}
								&.change{
									.fa{
										color: $green-bright;
										@include rem(font-size, 32px);
									}
								}
							}
						}
					}
				}
			}
			.upcoming-events{
				h5,.h5{
					@include border-white-top();
					@include fontMetrics(11px,31px);
					background-color: $gray-medium;
					color: $white;
					@include padding-left-small();
					@include margin-bottom-small();
					text-transform: uppercase;
				}
				ul{
					&.list-unstyled{
						&.quick-links{
							li{
								display: table;
								width: 100%;
								background-color: $gray-light;
								@include border-white-top();
								@include rem(font-size, 16px);
								font-weight: normal;
								@include padding-top-small();
								@include padding-bottom-small();
								&:after{
									display: table-cell;
									vertical-align: middle;
									padding-left: 10px;
									font-family: 'FontAwesome';
									font-weight: normal;
									@include rem(font-size, 21px);
									content: $fa-var-angle-right;
								}
								a{
									display: table-cell;
									width: 90%;
									@include padding-left-small();
								}
								&:hover,
								&:focus{
									background-color: $green-dark;
									a{
										color: $white;
									}
									&:after{
										color: $white;
									}
								}
							}
						}
					}
				}
			}
			.graphs,
			.management,
			.faqs{
				h5,.h5{
					@include fontMetrics(11px,40px);
					background-color: $gray-medium;
					color: $white;
					@include padding-left-small();
					@include margin-bottom-small();
					text-transform: uppercase;
				}
				&.single{
					h2{
						&.page-title{
							@include fontMetrics(16px, 24px);
							@extend %raleway;
							font-weight: normal;
							@include rem(margin-top, 10px);
							@include rem(margin-bottom, 5px);
						}
					}
					h3{
						&.officer-title{
							margin-top: 0;
							@include margin-bottom-small();
							@include fontMetrics(12px, 16px);
							font-weight: 500;
							color: $green-bright;
						}
					}
				}
			}
			.tools{
				text-align: right;
				ul{
					&.list-inline{
						@include rem(margin-top, 15px);
						@include rem(margin-bottom, 20px);
						li{
							padding-left: 0;
							padding-right: 0;
							a{
								@include rem(border-right, 1px solid $gray);
								@include rem(padding-left, 15px);
								@include rem(padding-right, 15px);
								@include rem(font-size, 11px);
								color: $gray;
								&:hover,
								&:focus{
									color: $green-dark;
									text-decoration: none;
								}
							}
							&:last-child{
								a{
									border-right: none;
									padding-right: 0;
								}
							}
						}
					}
				}
			}
			.quick-links{
				@include rem(font-size, 13px);
				color: $gray;
				@extend %raleway-bold;
				h2{
					@extend %raleway-light;
					color: $white;
					margin-top: 0;
					margin-bottom: 0;
					@include rem(line-height, 100px);
				}
				a{
					color: $gray;
				}
				.row{
					div{
						@include rem(border-right, 1px solid $white);
						text-align: center;
						@include rem(min-height, 100px);
						ul{
							&.nav-justified{
								li{
									@include rem(border-right, 1px solid $white);
									a{
										text-transform: uppercase;
										@include rem(min-height, 100px);
										padding: 0;
										span{
											display: block;
											@include padding-top-small();
											@include padding-bottom-xsmall();
										}
									}
								}
								li:last-child{
									border-right: none;
								}
							}
						}
					}
					div:first-child{
						@include rem(border-left, 1px solid $white);
					}
				}
				&.timeline{
					li{
						a{
							@include rem(line-height, 100px);
							&:hover,
							&:focus{
								background-color: $green-dark;
								color: $white;
							}
						}
						&.on{
							a{
								background-color: $green-dark;
								color: $white;
							}
						}
					}
					.phone-timeline{
						div{
							border-right: none;
							text-align: left;
							min-height: initial;
							li{
								a{
									min-height: initial;
									line-height: normal;
								}
							}
							.btn{
								text-transform: uppercase !important;
								text-align: left;
								padding-top: 0;
								padding-bottom: 0;
								@include rem(line-height, 100px);
								&:after{
									display: inline-block;
									float: right;
									@include rem(border-left, 1px solid lighten($green-dark, 12%));
									vertical-align: middle;
									@include rem(padding-left, 20px);
									font-family: 'FontAwesome';
									font-weight: normal;
									@include rem(font-size, 21px);
									content: $fa-var-angle-down;
									text-align: right;
								}
							}
							.dropdown-menu{
								@include border-top-radius(0px);
								@include border-bottom-radius(8px);
								background-color: $gray-light;
								color: $gray-medium;
								min-width: initial;
								width: 100%;
								@include rem(padding, $padding-small);
								text-align: center;
								font-weight: bold;
								a{
									display: block;
									color: $gray-medium;
									@include rem(line-height, 24px);
									font-weight: bold;
									&:hover,
									&:focus{
										background: transparent;
										color: $gray-dark;
									}
								}
							}
						}
					}
				}
			}
			//Main article styles
			article[role="article"]{
				@extend %raleway;
				color: $green-bright;
				&.item{
					@include padding-bottom-2x();
					@include padding-left();
					@include padding-right();
				}
				h2{
					@extend %raleway;
					@include rem(font-size, 18px);
					@include rem(margin-top, 10px);
					line-height: normal;
					color: $green-bright;
				}
				p,ul,ol,li,blockquote{
					@include fontMetrics( 18px, 28px );
				}
				a{
					font-weight: 400;
				}
			}

			//specific UL styling
			ul{
				&.list-unstyled{
					&.reports,
					&.officer,
					&.events{
						margin-bottom: 0;
						li{
							&.details{
								@include padding-small();
								background-color: $gray-light;
								@include border-white-top();
								h3{
									@include fontMetrics(16px,24px);
									color: $text-color;
									font-weight: normal;
									margin-top: 0;
									a{
										@include fontMetrics(16px,24px);
										color: $text-color;
										font-weight: normal;
										margin-top: 0;
										text-decoration: none;
										&:hover,
										&:focus{
											color: $green-dark;
										}
									}
								}
								a{
									font-weight: bold;
									@include rem(font-size, 13px);
									color: $green-dark;
								}
							}
						}
					}
					&.officer{
						p{
							@include rem(font-size, 12px);
							font-weight: 500;
							line-height: normal;
						}
					}
					&.sub-pages{
						li{
							background-color: $green-dark;
							@include rem(padding, 10px 20px);
							text-transform: uppercase;
							@include rem(border-bottom, 1px solid darken($green-dark, 5%));
							&:last-child{
								border-bottom: none;
							}
							a{
								display: block;
								color: $white;
								text-decoration: none;
								font-weight: bold;
								@include fontMetrics(13px, 22px);
							}
							&:hover,
							&:focus,
							&.on{
								background-color: darken($green-dark, 5%);
							}
						}
					}
					&.stock-info{
						li{
							@include rem(line-height, 32px);
						}
					}
				}
			}

			//
			// Row based sidebar
			// -----------------------------------------------------------------

			.sidebar{
				.fun-fact, .stat-description {
					background: transparent inline-image('../images/bg_fun-fact.jpg') no-repeat left top;
					@include border-top();
					@include padding-top-xsmall();
					@include rem(padding-left, 47px);
					//@include rem(padding-right, 47px);
					color: $green-bright;
				}
				a{
					&.download{
						@include rem(line-height, 29px);
					}
				}
				.quote {
					p, .p {
						color: $green-bright;
						hanging-punctuation: first;
					}
					h4, .h4 {
						@include rem(font-size, 13px);
						font-weight: 400;
						color: $green-bright;
						text-transform: uppercase;
						margin-bottom: 0;
					}
					.speaker-title {
						@include rem(font-size, 12px);
						color: $green-dark;
					}
				}
			}

			.disclaimer{
				p{
					font-weight: 500;
					@include rem(font-size, 12px);
				}
			}

			//
			// Legend
			// --------------------------------------------------
			.legend-column{
				position: relative;
				@include rem(min-height, 106px);
				.legend{
					position: absolute;
					bottom: 0;
					@include rem(font-size, 11px);
					li{
						@include fontMetrics(11px, 16px);
						@include rem(padding-right, 10px !important);
						@include rem(padding-left, 10px !important);
						.fa{
							@include rem(font-size, 16px);
						}
					}
				}
			}

			//
			// Forms
			// --------------------------------------------------

			.form{
				label{
					@include rem(font-size, 13px);
					font-weight: bold;
				}
				p{
					&.form-required{
						color: $green-dark;
						@include rem(font-size, 12px);
					}
				}
				input[type="text"]{
					-webkit-font-feature-settings: 'lnum';
					-moz-font-feature-settings: 'lnum';
					-ms-font-feature-settings: 'lnum';
				}
			}

			//
			// About > Strategy
			// --------------------------------------------------
			.strategy-steps{
				/*
				.header{
					@include rem(padding, $padding-small $padding-small);
					background-color: $green-bright;
					h2{
						@include font-family($font-family-sans-serif);
						@include fontMetrics(16px, 28px);
						color: $white;
						margin: 0;
					}
				}
				.content{
					@include rem(padding, 0 $padding-small 0 $padding-small);
				}
				*/
				//
				.item-wrap{
					&:after{
						position: absolute;
						@include rem(top, 25px);
						@include rem(right, 7px);
						vertical-align: middle;
						@include rem(padding-left, 20px);
						font-family: 'FontAwesome';
						font-weight: normal;
						@include rem(font-size, 21px);
						content: $fa-var-caret-right;
						text-align: right;
						color: $green-bright;
					}
					.item{
						background-color: $gray-light;
						h2{
							@include font-family($font-family-sans-serif);
							@include fontMetrics(16px, 28px);
							color: $white;
							@include rem(padding, $padding-large $padding-small);
							background-color: $green-bright;
						}
						section{
							@include rem(padding, $padding-xsmall $padding-small $padding-small $padding-small);
						}
					}
					&:last-child{
						&:after{
							content: "";
						}
					}
				}
				//
			}
			//
			// News & Media Section
			// -----------------------------------------------------------------
			.media{
				ul{
					&.sidebar{
						li{
							@include rem(padding-bottom, 24px);
						}
					}
				}
			}

			//
			// Community
			// -----------------------------------------------------------------
			.donation, .stat {
				h2{
					@extend %raleway-medium;
					@include fontMetrics(120px, 92px);
					font-weight: normal;
					color: $green-bright;
				}
				h3{
					@extend %raleway-bold;
					@include fontMetrics(24px, 36px);
					font-weight: normal;
					@include rem(padding-left, 84px);
				}
			}
			.stat {
				h2 {
					@include rem(font-size, 100px);
				}
				h3 {
					color: $green-dark;
					padding-left: 0;
					@include rem(margin-bottom, 20px);
				}
			}
			.gallery{
				a{
					display: block;
					width: 100%;
					@include rem(height, 200px);
					@include border-white-all();
					@include rem(padding, 2px);
					background-position: center center;
					&:hover,
					&:focus{
						@include border-green-bright-all();
					}

				}
			}
			//
			// Contact
			// -----------------------------------------------------------------

			ul{
				&.contact-info{
					li{
						@include border-top();
					}
				}
			}

			//
			// Search Results
			// -----------------------------------------------------------------
			.search-results{
				.SearchDialog{
					@include padding-top();
					@include padding-left-small();
					@include padding-right-small();
					.editing-form-label-cell{
						.control-label{
							display: none;
						}
					}
					.form-group{
						&.form-group-submit{
							text-align: right;
						}
					}
				}
				.SearchResults{
					width: 90%;
				}
			}

		}
		&.overlay{
			padding-left: 0;
			padding-right: 0;
			&:before{
				content: " ";
				background: transparent url('../images/ui/bg_multiply_overlay.png') repeat center center;
				height: 100%;
				width: 100%;
				background-size: cover;
			}
		}
	}
	.grid-posts{
		.item{
			@include border-transparent-all();
			@include rem(margin-bottom, 30px);
		}
	}
}
#main-container{
	.main-row{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.row-offcanvas{
		height: 100%;
		.popover{
			color: $gray;
			border: 0;
			padding: 0;
			.popover-content{
				padding: 0;
				p,ul,ol,li,blockquote{
					@include rem(padding, 0 14px);
					@include rem(font-size, 13px);
				}
				img{
					@include img-responsive();
					@include rem(padding, 14px);
				}
				h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
					@include font-family($font-family-sans-serif);
					text-transform: uppercase;
					@include rem(padding-left, 14px);
					@include rem(border-left, 6px solid $black);
					line-height: inherit;
					color: $black;
				}
			}
		}
	}
}

//
// Forms
// --------------------------------------------------
textarea{
	&.form-control{
		@include resizable(vertical);
	}
}

.form-filters{
	.glyphicon-search{
		background-color: darken($gray-light, 5%);
		color: $white;
	}
}

//
// Footer
// --------------------------------------------------
footer{
	&#footer{
		background-color: $green-dark;
		@include rem(border-top, 4px solid $brand-primary);
		@include rem(font-size, 12px);
		@include font-family($font-family-sans-serif);
		color: $green-mint;

		h6{
			color: $green-bright;
			@include rem( letter-spacing, 2px );
		}
		ul{
			&.menu{
				margin-left: 0px;
				a{
					@include transition(color .4s ease);
					text-decoration: none;
					@include rem(padding-left, 0);
					@include rem(padding-right, 0);
					color: $green-mint;
					text-transform: uppercase;
					&:hover,
					&:focus{
						color: $white;
					}
				}
				li{
					display: block;
					padding-left: 0;
					padding-right: 0;
					@include rem(line-height, 26px);
					&.on{
						a{
							color: $white;
						}
					}
					&:first-child{
						a{
							padding-left: 0;
						}
					}
					&:last-child{
						a{
							border-right: none;
						}
					}
				}
			}
		}
		a{
			&:hover,
			&:focus{
				color: $white;
			}
			&.brand{
				@include transition(all .4s ease);
				display:block;
				@include rem(height, 49px);
				@include rem(width, 56px);
				background: transparent inline-image('../images/logo_footer_2x.png') no-repeat left top;
				background-size: contain;
				text-indent: -10000em;
				border-right: none;
				&:hover,
				&:focus {
					text-decoration: none;
					//@include opacity(.8);
				}

			}
		}
		p{
			margin-left: 0;
		}
		.search-tool{
			.form-control{
				border-color: darken($green-dark, 5%);
				background-color: darken($green-dark, 5%);
				@include placeholder($white);
				color: $white;
			}
			.form-control-feedback{
				@include transition(all .4s ease);
				@include rem(right, ($grid-gutter-width / 2) );
				background-color: darken($green-dark, 5%);
				color: $white;
				@include rem(border-left, 1px solid $green-dark);
			}
			input[type="submit"]{
				position: absolute;
				top: 0;
				@include rem(right, ($grid-gutter-width / 2) );
				width: $input-height-base;
				height: $input-height-base;
				background-color: transparent;
				text-indent: -1000em;
				z-index: 1;
			}
		}
		ul{
			&.social{
				li{
					@include transition(all .4s ease);
					i{
						@include transition(all .4s ease);
						color: $green-mint;
					}
					a{
						@include transition(all .4s ease);
						color: $green-dark;
						padding-left: 0;
						padding-right: 0;
						border-right: none;
					}
					&:hover,
					&:focus{
						i{
							color: $white;
						}
						a{
							color: $green-dark;
						}
					}
				}
			}
		}
		.copyright{
			background-color: darken($green-dark, 5%);
			@include rem(font-size, 10px);
			@include rem(line-height, 40px);
			ul{
				&.list-inline{
					margin-bottom: 0;
					li{
						a{
							@include transition(all .4s ease);
							color: $green-mint;
							@include rem(border-right, 1px solid $green-mint);
							@include rem(padding-right, 10px);
							&:hover,
							&:focus{
								color: $white;
							}
						}
						&:last-child{
							a{
								border-right: none;
							}
						}
					}
				}
			}
		}
	}
}
